.HomePage {
  padding: 20px;
  max-width: 1200px;
}
.LinksList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}
.LinksList__item {
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  background-color: rgb(242, 255, 0);
  border: 3px solid rgb(13, 110, 253);
  border-radius: 30px;
  overflow: hidden;
  box-sizing: content-box;
}
.LinksList__name {
  font-style: none;
  padding: 10px;
}
.LinksList__picture {
  width: 100%;
}
